BasedOnStyle: LLVM

SortIncludes: false

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

PointerAlignment: Left
IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
