BasedOnStyle: LLVM

SortIncludes: false

IndentWidth: 8
TabWidth: 8
UseTab: Always
ColumnLimit: 80

PointerAlignment: Left

BreakBeforeBraces: Linux

IndentCaseLabels: false
IndentGotoLabels: false

AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
